body{
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    background-color: orange;
    overflow: auto;
   
  }
  /* makes the nav bar  horizontal (remove for vertical)*/
  li{
    float: left;
  }

  li a {
    display: inline;
    list-style: none;
    display: block;
    color:black;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  
  /* Change the link color on hover */
  li a:hover {
    background-color:blue;
    color: white;
  }