body{
    margin: 0;
   background-color: gray;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    background-color: darkgray;
    overflow: auto;
   
  }
  /* makes the nav bar  horizontal (remove for vertical)*/
  li{
    float: left;
  }

  li a {
    display: inline;
    list-style: none;
    display: block;
    color:black;
    padding: 8px 16px;
    text-decoration: none;
    display:inline-block;
    text-align: center;
   
  }
  
  
  /* Change the link color on hover */
  li a:hover {
    background-color:lightgray ;
    color: black;
   
  }


  p{
    font-family:'Times New Roman', Times, serif ;
    position: absolute;
    margin-top: 2.5em;
    color:black;
    position: absolute;
    
    
  }
  h1{
    text-align: center;
    color:whitesmoke
    
    
  }
