body.menu{
    margin: 0;
   background-color: gray;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    background-color: darkgray;
    overflow: auto;
   
  }
  /* makes the nav bar  horizontal (remove float left for vertical)*/
  li.menu{
    top: 0;
    float: left;
   position: fixed;
   margin-top: 100px;
   
    
    

  }

  li.menu a {
    display: inline;
    list-style: none;
    display: block;
    color:black;
    padding: 14px 16px;
    text-decoration: none;
    display:inline-block;
    
   
  }
  
  
  /* Change the link color on hover */
  li.menu a:hover {
    background-color:lightgray ;
    color: black;
   
  }


 p.menu{
    font-family:'Times New Roman', Times, serif ;
    position: absolute;
    margin-top: 2.5em;
    color:black;
    position: absolute;
    
    
  }
  h1.menu{
    text-align: center;
    color:whitesmoke
    
    
  }
