/*CSS for the body makes the background grew*/
body.menu{
   margin: 0;
   margin-top: 60px;
   background-color: gray;
}
/*  Ul so Nav bar works Note(Had to change from using li to a div with the <a> HTML tag so nav bar could be fixed and still work)*/
ul.menu {
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    background-color: darkgray;
    overflow: auto;
   
  }

  
  div.menu{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

  
   /* makes the nav bar  horizontal (remove float left for vertical)*/
  div.menu a{
    border-color: lightgray;
    border-style: groove;
    display: inline;
    list-style: none;
    display: block;
    color:black;
    float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  /* Change the link color on hover */
  div.menu a:hover{
    border-style: inset;
    padding-bottom: 20px;
    background-color:lightgray ;
    color: black;
   
  }

 
  

  
/*CSS for pragraph elements (Note a and a:hover are for pragraph elements with links )*/
 p.menu{
    font-family:'Times New Roman', Times, serif ;
    position: center;
    color:black;
    text-align: center;
   
    
    
  }

 
  p.menu a{
    text-decoration-line:overline;
     color: darkgray;
     text-decoration: none;
     border-style: inset;
    
     
  }

  p.menu a:hover{
    border-style: solid;
  }

  /*CSS to make header 1 look nice */
  h1.menu{
    text-align: center;
    color:whitesmoke
  }

  h1.menu a{
    text-decoration: none;
    color: aliceblue;  
  }
  h1.menu a:hover{
    border-style: inset;
    color: antiquewhite;
    border-color: bisque;
  }

  /*CSS to make header 2 look nice (note: border css same as h1)*/
  h2.menu{
    border-style: inset;
    color: antiquewhite;
    border-color: bisque;
    text-align: center;
  }

  img.menu{
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    
  }
